openapi: 3.2.0
info:
  title: Red Hat OpenShift Cluster Manager Versions API
  description: The OpenShift Cluster Manager (OCM) API provides programmatic access to the Red Hat Hybrid Cloud Console for managing OpenShift clusters at scale. It supports creating, updating, and deleting clusters; managing cluster add-ons; configuring identity providers and role bindings; monitoring cluster health and metrics; and managing subscriptions and quotas. Used by the OCM CLI, the Hybrid Cloud Console web UI, and partners building cluster management automation.
  version: '1'
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://api.openshift.com
  description: OpenShift Cluster Manager API
security:
- bearerAuth: []
tags:
- name: Versions
  description: Query available OpenShift versions
paths:
  /api/clusters_mgmt/v1/versions:
    get:
      operationId: listVersions
      summary: List OpenShift Versions
      description: Returns the list of available OpenShift versions for cluster creation.
      tags:
      - Versions
      parameters:
      - name: search
        in: query
        description: Filter versions by search expression
        schema:
          type: string
      responses:
        '200':
          description: List of available versions returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
components:
  schemas:
    VersionList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              id:
                type: string
              raw_id:
                type: string
              enabled:
                type: boolean
              default:
                type: boolean
              channel_groups:
                type: array
                items:
                  type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: OpenShift Cluster Manager API Documentation
  url: https://api.openshift.com/
