openapi: 3.2.0
info:
  title: Red Hat OpenShift Cluster Manager Identity Providers API
  description: The OpenShift Cluster Manager (OCM) API provides programmatic access to the Red Hat Hybrid Cloud Console for managing OpenShift clusters at scale. It supports creating, updating, and deleting clusters; managing cluster add-ons; configuring identity providers and role bindings; monitoring cluster health and metrics; and managing subscriptions and quotas. Used by the OCM CLI, the Hybrid Cloud Console web UI, and partners building cluster management automation.
  version: '1'
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://api.openshift.com
  description: OpenShift Cluster Manager API
security:
- bearerAuth: []
tags:
- name: Identity Providers
  description: Configure authentication providers for clusters
paths:
  /api/clusters_mgmt/v1/clusters/{cluster_id}/identity_providers:
    get:
      operationId: listIdentityProviders
      summary: List Identity Providers
      description: Returns the identity providers configured for cluster authentication.
      tags:
      - Identity Providers
      parameters:
      - $ref: '#/components/parameters/clusterId'
      responses:
        '200':
          description: List of identity providers returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderList'
    post:
      operationId: createIdentityProvider
      summary: Create Identity Provider
      description: Adds an identity provider to the cluster for user authentication.
      tags:
      - Identity Providers
      parameters:
      - $ref: '#/components/parameters/clusterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProvider'
      responses:
        '201':
          description: Identity provider created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider'
components:
  schemas:
    IdentityProvider:
      type: object
      properties:
        kind:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - GithubIdentityProvider
          - GitlabIdentityProvider
          - GoogleIdentityProvider
          - HTPasswdIdentityProvider
          - LDAPIdentityProvider
          - OpenIDIdentityProvider
    IdentityProviderList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/IdentityProvider'
  parameters:
    clusterId:
      name: cluster_id
      in: path
      required: true
      description: The cluster identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: OpenShift Cluster Manager API Documentation
  url: https://api.openshift.com/
