openapi: 3.2.0
info:
  title: Red Hat OpenShift Cluster Manager Machine Pools API
  description: The OpenShift Cluster Manager (OCM) API provides programmatic access to the Red Hat Hybrid Cloud Console for managing OpenShift clusters at scale. It supports creating, updating, and deleting clusters; managing cluster add-ons; configuring identity providers and role bindings; monitoring cluster health and metrics; and managing subscriptions and quotas. Used by the OCM CLI, the Hybrid Cloud Console web UI, and partners building cluster management automation.
  version: '1'
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://api.openshift.com
  description: OpenShift Cluster Manager API
security:
- bearerAuth: []
tags:
- name: Machine Pools
  description: Manage compute node pools for clusters
paths:
  /api/clusters_mgmt/v1/clusters/{cluster_id}/machine_pools:
    get:
      operationId: listMachinePools
      summary: List Machine Pools
      description: Returns the machine pools (node groups) configured for the cluster.
      tags:
      - Machine Pools
      parameters:
      - $ref: '#/components/parameters/clusterId'
      responses:
        '200':
          description: List of machine pools returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachinePoolList'
    post:
      operationId: createMachinePool
      summary: Create Machine Pool
      description: Creates a new machine pool for the cluster.
      tags:
      - Machine Pools
      parameters:
      - $ref: '#/components/parameters/clusterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachinePool'
      responses:
        '201':
          description: Machine pool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachinePool'
components:
  parameters:
    clusterId:
      name: cluster_id
      in: path
      required: true
      description: The cluster identifier
      schema:
        type: string
  schemas:
    MachinePool:
      type: object
      properties:
        kind:
          type: string
        id:
          type: string
        replicas:
          type: integer
        instance_type:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        taints:
          type: array
          items:
            type: object
        autoscaling:
          type: object
          properties:
            min_replicas:
              type: integer
            max_replicas:
              type: integer
    MachinePoolList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MachinePool'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: OpenShift Cluster Manager API Documentation
  url: https://api.openshift.com/
