openapi: 3.2.0
info:
  title: Red Hat OpenShift Cluster Manager Add Ons API
  description: The OpenShift Cluster Manager (OCM) API provides programmatic access to the Red Hat Hybrid Cloud Console for managing OpenShift clusters at scale. It supports creating, updating, and deleting clusters; managing cluster add-ons; configuring identity providers and role bindings; monitoring cluster health and metrics; and managing subscriptions and quotas. Used by the OCM CLI, the Hybrid Cloud Console web UI, and partners building cluster management automation.
  version: '1'
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://api.openshift.com
  description: OpenShift Cluster Manager API
security:
- bearerAuth: []
tags:
- name: Add-ons
  description: Manage cluster add-on installations
paths:
  /api/clusters_mgmt/v1/clusters/{cluster_id}/addons:
    get:
      operationId: listClusterAddons
      summary: List Cluster Add-ons
      description: Returns a list of add-ons installed on the specified cluster.
      tags:
      - Add-ons
      parameters:
      - $ref: '#/components/parameters/clusterId'
      responses:
        '200':
          description: List of installed add-ons returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnInstallationList'
    post:
      operationId: installClusterAddon
      summary: Install Cluster Add-on
      description: Installs a new add-on on the specified cluster.
      tags:
      - Add-ons
      parameters:
      - $ref: '#/components/parameters/clusterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnInstallation'
      responses:
        '201':
          description: Add-on installation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnInstallation'
components:
  schemas:
    AddOnInstallation:
      type: object
      properties:
        kind:
          type: string
        id:
          type: string
        addon:
          type: object
          properties:
            id:
              type: string
        state:
          type: string
          enum:
          - ready
          - installing
          - deleting
          - failed
    AddOnInstallationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddOnInstallation'
  parameters:
    clusterId:
      name: cluster_id
      in: path
      required: true
      description: The cluster identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: OpenShift Cluster Manager API Documentation
  url: https://api.openshift.com/
